<div *ngIf="!user">
  <app-nav></app-nav>
  <div class="row container">
    <h2 class="header">Asapp</h2>
    <p class="grey-text text-darken-3 lighten-3">The extra p is for please.</p>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://res.cloudinary.com/ddesyiweo/image/upload/v1507470896/food_pattern_background_wallpaper_free_hd-2xu97fqitzt8g7fr8lup6y_lwcp07.jpg"></div>
  </div>
  <div class="section white whitecontainer">
    <div class="row container" vertical-align: middle>
      <div class="col s4 align"><i class="material-icons large">photo_camera</i>
        <p>Scan the QR code <br> on the table</p>
      </div>
      <div class="col s4 align"><i class="material-icons large">restaurant_menu</i>
        <p>Order without <br> a hassle</p>
      </div>
      <div class="col s4 align"><i class="material-icons large">payment</i>
        <p>Pay directly <br> from your phone</p>
      </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://res.cloudinary.com/ddesyiweo/image/upload/v1507470896/food_pattern_background_wallpaper_free_hd-2xu97fqitzt8g7fr8lup6y_lwcp07.jpg"></div>
  </div>



</div>

<div *ngIf="user">

<app-nav></app-nav>

  <div class="row container">
    <h2 class="header">Asapp</h2>
    <p class="grey-text text-darken-3 lighten-3">The extra p is for please.</p>
  </div>

  <div class="col 12">
    <img src="http://res.cloudinary.com/ddesyiweo/image/upload/v1507470896/food_pattern_background_wallpaper_free_hd-2xu97fqitzt8g7fr8lup6y_lwcp07.jpg" width= "100%">
  </div>
  <div>
    <p>Have a waiter in your pocket</p>
    <a [routerLink]="['/restaurants']">See restaurants</a>
  </div>
</div>


<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 All rights reserved
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
