<div *ngIf="!user">

  <div class="row container">
    <h2 class="header" id ="logo">Asapp</h2>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://res.cloudinary.com/ddesyiweo/image/upload/v1507470896/food_pattern_background_wallpaper_free_hd-2xu97fqitzt8g7fr8lup6y_lwcp07.jpg"></div>
  </div>
  <div class="section white whitecontainer">
    <div class="row container" vertical-align: middle>
      <div class="col s4 align"><i class="material-icons large">photo_camera</i>
        <p>Scan the QR code <br> on the table</p>
      </div>
      <div class="col s4 align"><i class="material-icons large">restaurant_menu</i>
        <p>Order without <br> a hassle</p>
      </div>
      <div class="col s4 align"><i class="material-icons large">payment</i>
        <p>Pay directly <br> from your phone</p>
      </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://res.cloudinary.com/ddesyiweo/image/upload/v1507470896/food_pattern_background_wallpaper_free_hd-2xu97fqitzt8g7fr8lup6y_lwcp07.jpg"></div>
  </div>



</div>

<div *ngIf="user">
  <div class="row container">
    <h2 class="header" id ="logo">Asapp</h2>
  </div>

  <div class="col 12 father">
    <button class ="waves-effect waves-light btn pos"><a [routerLink]="['/restaurants']" class ="style">See restaurants</a></button>
  </div>

</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">Join thousands of people who are part of the Asapp community</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Information</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/maavsol/proyect3">Github</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 All rights reserved

    </div>
  </div>
</footer>
