<div class="container">
  <div class="card card-container">
    <!-- <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p> -->
    <form>
      <h2> Signup </h2>
      <label> Username </label>
      <input type="text" [(ngModel)]="formInfo.username" name="username" class="form-control" placeholder="Username" required autofocus/>
      <br>
      <label> Password </label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="formInfo.password" name="password" />
      <br>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="signup()"> signup </button>
    </form>
    <a href="#" class="forgot-password">
    Forgot the password?
    </a>

  </div>
</div>
