body{
  font-family: thin;
}

.menu{
  border: solid 1px pink;
  background-color: pink;
  border-radius: 5px;
  height: 100px;
  text-align: center

}

.pedido{
  border: solid 1px pink;
  background-color: pink;
  text-align: center
}
